/* 
-- Colors --
Text - #000
Primary - #BF4F51
Secondairy - #FFF
SecondairyALT - #FFFAEF
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*  {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
img {
    width: 100px;
    background-color: transparent;
}
.flex-container {
    display: flex;
}

.logo {
    transition-duration: 0.5s;
}

.logo:hover {
    transform: rotate(360deg);
}

.logo:active {
    transform: scale(80%);
}

.nav-button {
    font-family: 'Roboto Mono', monospace;
    
    text-decoration: none;
    color: #000;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    background-color: #FFF;
    padding: 1em;
    margin: 0 0.5em;
    transition-duration: 0.3s;
    
}

.nav-button:hover {
    box-shadow: -5px 5px #000;
    text-transform: uppercase;
    transform: translate(5px, -5px);
}

.nav-button:active {
    box-shadow: 0px 0px #000;
    transform: translate(0px, 0px);
}




nav {
    padding: 0.5em 2em;
    justify-content: space-around;
    align-items: center;
    background-color: #BF4F51;
}

p{
    
}

p::selection{
    background-color: #000;
    color: #FFF;
}

footer{
    margin-top: auto;
    padding: 1em;
    align-items: center;
    background-color: #BF4F51;
    justify-content: center;
}



footer > p {
    padding: 1em;
    background-color: #FFF;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}






