/* 
-- Colors --
Text - #000
Primary - #BF4F51
Secondairy - #FFF
SecondairyALT - #FFFAEF
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*  {
    border: 0;
    margin: 0;
    padding: 0;
}

*::selection{
    background-color: #000;
    color: #FFF;
}

body {
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
img {
    width: 100px;
    background-color: transparent;
}

main{
    min-height: 90vh;
}

ul{
    list-style: none;
    
    
}
.flex-container {
    display: flex;
}

.grid-container{
    display: grid;
}

.logo {
    transition-duration: 0.5s;
    
}

.logo:hover {
    
    transform: rotate(360deg) scale(110%);
}

.logo:active {
    transform: rotate(0deg) scale(80%);
}

.nav-button {
    font-family: 'Roboto Mono', monospace;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    background-color: #FFF;
    margin: 0.5em;
    padding: 0.8vw;
    
    transition-duration: 0.3s;
}
.nav-button > a {
    padding: 0.8vw;
    
    text-decoration: none;
    color: #000;
}

.nav-button:hover {
    transform: translate(5px, -5px);
    box-shadow: -5px 5px #000;
    text-transform: uppercase;
}

.nav-button:active {
    transform: translate(0px, 0px);
    box-shadow: 0px 0px #000;
}




nav {
    padding: 0.2em;
    background-color: #BF4F51;
    grid-area: nav;
}
nav > ul {
    justify-content: space-around;
    align-items: center;
}
nav > li {
    
}

p{
    
}

h2{
    color: #BF4F51;
}

header{
    grid-area: header;
}
aside{
    grid-area: aside;
}
article{
    grid-area: article;
}


#homepage {
    
    grid-template-areas: 
    'header header header header'
    'article article aside aside'
    'footer footer footer footer';
}



#homepage-header {
    background-image: url(../img/placeholder.png);
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally center the child elements */
    align-items: center;
    
}
#homepage-header > h1 {
    color: white;
    text-align: center;
    
}
#homepage-header > h2 {
    color: white;
    text-align: center;
    
}

#homepage-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: auto;
    width: 60vw;
    padding: 1rem;

}

#homepage-navigationbox{
    margin: auto;
    padding: 1rem;
    width: 30vw;
    height: auto;
    text-align: center;
    align-items: center;
    
}

#homepage-navigationbox > section{
    border: #000;
    border-style: solid;
    border-width: 2px;
    background-color: #FFFAEF;
    padding: 1rem;
    
}
#homepage-navigationbox > section > ul{
    margin: auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

#homepage-navigationbox > section > h2{
    color: #000;
}


footer{
    grid-area: footer;
    padding: 0.2em;
    background-color: #BF4F51;
}

footer > ul {
    
    align-items: center;
    justify-content: center;
}



footer > ul > li > p {
    padding: 0.8vw;
    background-color: #FFF;
    border-color: #000;
    border-style: solid;
    border-width: 2px;
    text-align: center;
}






